@charset "UTF-8";
*{
    font-family: 'Courier New', Courier, monospace;
    /* height: 100%; */
}
h1
{
    text-align: center;
    text-shadow: -1.2px -1.2px 2px #016c11a2;
}
h2
{
    color: #E60036;
}
p
{
    text-align: justify;
    color: black
}
body
{
    background-image: linear-gradient(to right, #00E624,#30913F 190%);

}
main
{
    background-color: #ffffff;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    width: 600px;
    color: #00E624;
    box-shadow: 5px 5px 10px #016c11a2;
}